#sidebar{
    display: flex;
    flex-direction: column;
    border: 2px solid #6a6a6a;
}

#sidebar:not(.collapsed){
    width: calc(25% - 1.5em - 4px);
    margin-left: 0.5rem;
}

#sidebar.collapsed{
    margin-left: 0.5rem;
    padding: 0.25rem;
    width: 34px;
}

#sidebar.collapsed #sidebar-content-wrapper{
    display: none;
}

#sidebar-toggle-button{
    position: absolute;
    top: calc(0.5rem + 5px);
    right: calc(0.5rem + 5px);
    width: 35px;
}

h2{
    margin: 2px;
}

#info-table #td{
    margin-right: 1rem;
}

#notes-wrapper{
    width: calc(100% - 4px);
    height: 150px;
    margin: 1rem 2px 2px;
    display: flex;
    flex-direction: column;
}

#notes{
    flex-grow: 1;
    height: 70px;
}